
html{
  
  --cian-100 : rgb(7, 157, 226);
  --cian-100-houver : rgb(95, 194, 240);
  --cian-900 : rgb(15, 18, 24);
  
  --white-100 : rgb(255, 255, 255);
  --white-300 : rgb(193, 198, 209);
  --white-400 : rgb(156, 160, 167);
  --white-500 : rgb(121, 123, 128);
  
}